@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --bg-color: #fffff3;
  --primary: #2d3857;
  --action-card-width: 160px;
  --action-card-ratio: 1.75;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--bg-color) !important;
}

a {
  color: inherit !important;
  text-decoration: none!important;
}

input:focus{
  outline: none;
}


@media (max-width: 500px){

  * {
    box-sizing: border-box;
    font-size: 12px;
  }
  
}